@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@500;700&display=swap');

a{ text-decoration: none; transition: all 0.2s }
li{ list-style-type: none; }

h1{ font-size: 60rem; }
h2{ font-size: 50rem; }
h3{ font-size: 40rem; }
h4{ font-size: 30rem; }
h5{ font-size: 20rem; }
h6{ font-size: 10rem; }

a:link, a:visited{ color: var(--blue); }

a:hover, a:active{ color: var(--red); }

:root{
    --black: #000;
    --white: #ffffff;
    --blue: #00f;
    --red: #ff0000;

    font-size: 6.25%;
    font-weight: 500;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, Ubuntu, sans-serif;
    font-size: 15rem;
}

Body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #ececec;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 380rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    padding: 10rem 20rem;
    box-shadow: 0 10rem 15rem -3rem rgba(0,0,0,0.1);
}

input{
    display: none;
}
.header{
    width: 100%;
}

.headerLabel{
    display: flex;
    align-items: center;
}
.headerLabel label{
    width: 100%;
    /*background-color: red;*/
    padding: 10rem 15rem;
    border-radius: 30rem;
    margin: 5rem;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

#basic:checked ~ .headerLabel label.tab1{
    color: white;
    background-color: blue;

}

#standard:checked ~ .headerLabel label.tab2{
    color: white;
    background-color: blue;


}

#premium:checked ~ .headerLabel label.tab3{
    color: white;
    background-color: blue;
}

.feature{
    margin: 30rem 20rem;
}

.feature .info :first-child{
    font-size: 30rem;
    font-weight: bold;
    color: blue;
}

.feature .info{
    margin-bottom: 30rem;
    text-align: center;
}


.basicFeature ul li, .stanFeature ul li, .premiumFeature ul li{
    display: flex;
    align-items: center;
    line-height: 2;
}

.basicFeature ul li i, .stanFeature ul li i, .premiumFeature ul li i{
    color: green;
    margin-right: 10rem;
}


.basicFeature, .stanFeature, .premiumFeature{
    display: none;
}

.feature .active{
    display: block;
}

button{
    width: 100%;
    padding: 10rem 30rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10rem;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover{
    background-color: #0c0ccb;
}


